<div class="navigation-bar">
    <app-logo></app-logo>
    <app-user-account></app-user-account>
    <app-horizontal-rule></app-horizontal-rule>
    <app-menu-options></app-menu-options>
    <app-horizontal-rule></app-horizontal-rule>
    <app-general-options></app-general-options>
    <app-horizontal-rule></app-horizontal-rule>
    <div class="payment-option">
        <span class="payment">
            <span class="payment-icon-border">
                <span class="material-icons">add_circle</span>
                <span class="primary-font payment-option-text">Payment</span>
            </span>
        </span>
    </div>
</div>