.user-account {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 700;

    .user-profile {
        display: flex;
        align-items: center;
        gap: 10px;
        .profile-img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            background-color: green;
            background-repeat: no-repeat;
            background-size: 25px;
        }
    }
    .expand-icons {
        display: flex;
        flex-direction: column;
        span {
            height: 10px;
        }
    }
}